@keyframes dropDown {
    0% {
      transform: translateY(-100%); /* 처음에는 화면 위에서 시작 */
    }
    100% {
      transform: translateY(0); /* 아래로 떨어짐 */
    }
  }
  
  .jail-animation {
    animation: dropDown 1s ease-out;
    position: relative;
  }