@tailwind base;
@tailwind components;
@tailwind utilities;

.fp-section {
  width: 100vw !important;
  height: 100vh !important;
  padding: 32px;
}

.fp-overflow {
  height: 100% !important;
}

/* 입력 필드와 선행 0을 포함한 스타일 */
.react-time-picker__inputGroup__leadingZero,
.react-time-picker__inputGroup__input {
  background-color: transparent; /* 배경 투명 */
}

/* 입력 필드와 선행 0 정렬하기 */
.react-time-picker__inputGroup {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
}

.fp-watermark {
  display: none;
}
